List of links possibly worth investigating:
https://rapidapi.com/collection/tv-api
https://tvlistings.ctvdigital.net/service/metadata
https://tvlistings.gracenote.com/grid-affiliates.html?aid=orbebb
https://www.the-numbers.com/tv-show/That-70s-Show#tab=summary
https://www.businessofapps.com/data/netflix-statistics/#1
https://www.statista.com/chart/10311/netflix-subscriptions-usa-international/
https://www.lafabbricadellarealta.com/open-data-entertainment/

In [1]:
import pandas as pd
from bs4 import BeautifulSoup
import requests

In [13]:
url3 = 'https://www.emmys.com/awards/nominees-winners'
html3 = requests.get(url3)
soup3 = BeautifulSoup(html3.content, 'lxml')

In [14]:
award_titles_container = soup3.find('div', class_ = 'section-content item-list pt-3')
#award_titles_container

In [15]:
titles = award_titles_container.findAll('h5', class_ = 'mb-1')

In [16]:
nominated_shows = []
for tag in titles[:7]:
    nominated_shows.append(tag.text.strip())
#nominated_shows

In [17]:
actors = []
for tag in titles[8:]:
    actors.append(tag.text.strip())
#actors

In [18]:
show_names_for_actors = award_titles_container.findAll('div', class_ = 'p1 show-title')
#show_names_for_actors

In [19]:
shows_nominated_actors = []
for tag in show_names_for_actors:
    shows_nominated_actors.append(tag.text.strip())
#shows_nominated_actors

In [20]:
url4 = 'https://www.emmys.com/awards/nominees-winners?page=1'
html4 = requests.get(url4)
soup4 = BeautifulSoup(html4.content, 'lxml')
#soup

In [21]:
award_titles_container2 = soup4.find('div', class_ = 'section-content item-list pt-3')
#award_titles_container2

In [22]:
titles2 = award_titles_container2.findAll('h5', class_ = 'mb-1')
#titles2

In [23]:
for tag in titles2[5:28]:
    nominated_shows.append(tag.text.strip())
#nominated_shows

In [24]:
for tag in titles2[:6]:
    actors.append(tag.text.strip())

In [25]:
for tag in titles2[28:]:
    actors.append(tag.text.strip())

In [37]:
#actors

In [36]:
show_names_for_actors2 = award_titles_container2.findAll('div', class_ = 'p1 show-title')

In [28]:
for tag in show_names_for_actors2:
    shows_nominated_actors.append(tag.text.strip())

In [29]:
#make sure lists are same length before creating a dictionary 
print(len(actors))
print(len(shows_nominated_actors))

52
52

In [33]:
#dictionary pairing nominated actors and the shows they were nominated for 
nominated_actors = dict(zip(actors, shows_nominated_actors))

In [35]:
#nominated_actors

In [50]:
nominated_shows_dict = dict((x,nominated_shows.count(x)) for x in nominated_shows)

In [73]:
df = pd.DataFrame.from_dict(nominated_shows_dict, 'index')
df.columns = ['Nominations']
df.head()

                      Nominations
Curb Your Enthusiasm            1
Dead To Me                      1
Insecure                        1
Schitt's Creek                  4
The Good Place                  2

In [68]:
actor_show_noms = dict((x,shows_nominated_actors.count(x)) for x in shows_nominated_actors)
#actor_show_noms

In [67]:
df2 = pd.DataFrame.from_dict(actor_show_noms,'index')
df2.columns = ['Actor Nominations']
df2.head()

                Actor Nominations
Black Monday                    1
black-ish                       2
Ramy                            2
Schitt's Creek                  4
The Good Place                  4

In [74]:
joined_df = df.join(df2,how = 'left')
joined_df.fillna(0, inplace=True)
joined_df

                           Nominations  Actor Nominations
Curb Your Enthusiasm                 1                0.0
Dead To Me                           1                2.0
Insecure                             1                2.0
Schitt's Creek                       4                4.0
The Good Place                       2                4.0
The Kominsky Method                  1                2.0
The Marvelous Mrs. Maisel            3                7.0
Bette Midler                         1                0.0
Modern Family                        1                1.0
Ramy                                 1                2.0
The Great                            2                0.0
Will & Grace                         1                0.0
What We Do In The Shadows            3                0.0
Better Call Saul                     1                0.0
Killing Eve                          1                2.0
Ozark                                1                2.0
Stranger Things                      1                0.0
Succession                           1                2.0
The Crown                            1                1.0
The Handmaid's Tale                  1                0.0
The Mandalorian                      1                0.0

In [75]:
joined_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 21 entries, Curb Your Enthusiasm to The Mandalorian
Data columns (total 2 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Nominations        21 non-null     int64
 1   Actor Nominations  21 non-null     float64
dtypes: float64(1), int64(1)
memory usage: 1.1+ KB

In [82]:
joined_df['Actor Nominations'].astype('int64')

Curb Your Enthusiasm         0
Dead To Me                   2
Insecure                     2
Schitt's Creek               4
The Good Place               4
The Kominsky Method          2
The Marvelous Mrs. Maisel    7
Bette Midler                 0
Modern Family                1
Ramy                         2
The Great                    0
Will & Grace                 0
What We Do In The Shadows    0
Better Call Saul             0
Killing Eve                  2
Ozark                        2
Stranger Things              0
Succession                   2
The Crown                    1
The Handmaid's Tale          0
The Mandalorian              0
Name: Actor Nominations, dtype: int64

In [83]:
pd.options.display.float_format = '{:,.0f}'.format

In [85]:
joined_df.head()

                      Nominations  Actor Nominations
Curb Your Enthusiasm            1                  0
Dead To Me                      1                  2
Insecure                        1                  2
Schitt's Creek                  4                  4
The Good Place                  2                  4

Next steps: 
1. pull in network from Emmy's page
2. find genre 
3. look into other awards shows/ international awards